<div class="serv">
  <link rel="stylesheet" type="text/css" href="services.component.css">

  <section class="services-section">

    <div class="container">

      <h2>Our Services</h2>

      <div class="services-grid">

        <div class="service-item">

          <img src="\assets\find.jpg" alt="Service Icon">

          <h3>Find and Book Doctors</h3>

          <p>Discover a wide range of experienced doctors across various specialties. Easily search, compare, and book appointments online.</p>

        </div>

        <div class="service-item">

          <img src="\assets\Virtual.jpg" alt="Service Icon">

          <h3>Virtual Consultations</h3>

          <p>Experience the convenience of virtual consultations with our platform. Connect with healthcare professionals from the comfort of your home.</p>

        </div>

        <div class="service-item">

          <img src="\assets\Appoinment.png" alt="Service Icon">

          <h3>Appointment Reminders</h3>

          <p>Receive timely appointment reminders via email or SMS, ensuring you never miss a scheduled consultation or check-up.</p>

        </div>

        <div class="service-item">

          <img src="\assets\Review.jpg" alt="Service Icon">

          <h3>Patient Reviews</h3>

          <p>Make informed decisions by reading verified patient reviews and ratings for doctors. Share your own feedback to help others.</p>

        </div>

      </div>

    </div>

  </section>
</div>


 

